<div class="container">
        <div class="card">
                <h2 class="heading">
                        Welcome to SWE642 Survey!
                </h2>
                <ul class="authors">
                        <div class="left"><li>Made with ❤️ by: </li></div>
                        <div class="authors-container">
                        <li>Divyanshi Detroja G01522554</li>
                        <li>Vignesh Reddy G01502803</li>
                        <li>Lorem ipsum dolor, sit amet</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                </div>
                </ul>
                <div class="button-group">
                        <button class="list" (click)="navigateToSurvey()">Take the Survey</button>
                        <button class="survey" (click)="navigateToRecords()">View All Records</button>
                </div>
        </div>
</div>
